.topbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2.5em;
    justify-content: flex-end;
    margin-bottom: .8em;
    background-color: rgba(0, 0, 0, 0.1);
    padding: auto;

    .location-form {
        padding-top: .5em;
        padding-right: 17%;
        color: white;

        label {
            margin-right: .8em;
        }

        input {
            border: none;
            border-radius: 5px;
            margin-right: .8em;
        }

        button {
            color: white;
            border-color: white;
            border-radius: 5px;
            background: transparent;
            cursor: pointer;
            transition: transform .2s;
            margin-right: .5em;

            &:hover {
                background-color: blue;
                transform: scale(1.2);
            }
        }
    }
}

@media (max-width: 900px){
    .topbar{
       flex-direction: column; 
       height: auto;
       padding-bottom: .5em;
       padding-left: 15%;
       width: 100%;

       .location-form{
        display: flex;
        flex-direction: column;

        label{
            margin-bottom: .5em;
        }

        input{
            margin-bottom: .5em;
            width: 100%;
        }

       }
    }
}