$main-padding: 1.2em;
$main-color: white;

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .layout-top {
    color: $main-color;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-left: 10%;

    h2 {
      font-size: 3em;
      margin: 0;
    }

  }

}

@media (max-width: 900px) {
  .container {
    .layout-top {
      margin-left: 10%;
      h2 {
        font-size: 2em;
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    .layout-top {
      margin-left: 0;
      padding-left: 0.5em;
      h2 {
        font-size: 1.3em;
      }
    }

  }
}
