$main-padding: 1.2em;
$main-color: white;

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .layout-top {
    color: $main-color;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-left: 20%;

    h2 {
      font-size: 3em;
      margin: 0;
    }

  }

  .layout-bottom{
    color: $main-color;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 17%;
    margin-top: .5em;

    span{
      font-size: 1em;
    }
  }

}

@media (max-width: 900px) {
  .container {
    .layout-top {
      margin-left: 10%;
      padding-left: 15%;
      h2 {
        font-size: 2em;
      }
    }

    .layout-bottom{
      padding-right: 5%;
      span{
        font-size: .8em;
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    .layout-top {
      margin-left: 0;
      padding-left: 5%;
      h2 {
        font-size: 1.3em;
      }
    }
  
  }
}
